<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent Book - Zalogowany</title>
</head>

<body>
    <h1>Jesteś zalogowany</h1>
    <a href="/">Strona główna</a><br>
    <a href="/api/auth/logout">Wyloguj się</a>
</body>

</html>