<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rent Book - Logowanie</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>

  <body>
    <div class="bg"></div>
    
    <div class="box">
      <form action="/api/auth/login" method="post" class="text-big">
        <div>
          <label for="username">Nazwa użytkownika: </label>
          <input
            class="text-medium"
            type="text"
            name="username"
            id="username"
          />
        </div>
        <div>
          <label for="password">Hasło: </label>
          <input
            class="text-medium"
            type="password"
            name="password"
            id="password"
          />
        </div>
        <span class="text-medium" style="color: red"><%= error %></span>
        <input class="text-big" type="submit" value="Zaloguj!" />
      </form>
    </div>
  </body>
</html>
