<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/about.css" />
  </head>
  <body>
    <%- include('modules/Nav', {logged: logged}); -%>
    <div class="profile-wrapper">
      <div class="profile left">
        <p class="text-giant nick-name">Jakub Dąbrowski</p>
        <img
          class="profile-img"
          src="imgs/github-mark/80dc8f8a4ba46a071438cfef3058edbd.png"
          alt=""
        />
        <div class="about-links">
          <%-
          include('modules/ImgLink',{href:"https://github.com/kubi2392",hrefImg:"/imgs/github-mark/github-mark.svg"});
          -%>
        </div>
      </div>
      <div class="profile-text">
        <p class="text-medium">Jestem Jakub Dąbrowski.
        
          Uczęszczam do szkoły technicznej na kierunek programista
        
        
          Mam 17 lat i zamierzam rozwijać się w kierunku programowania stron od
          front-endu
        
        
          Posiadam także kilka mniej zaawansowanych stron na swoim githubie
        </p>
      </div>
    </div>
    <div class="profile-wrapper">
      <div class="profile-text">
        <p class="text-medium right">
          Jestem Jakub Dąbrowski. Uczęszczam do szkoły technicznej na kierunek
          programista Mam 17 lat i zamierzam rozwijać się w kierunku
          programowania stron od front-endu Posiadam także kilka mniej
          zaawansowanych stron na swoim githubie
        </p>
      </div>
      <div class="profile right">
        <p class="text-giant nick-name">Paweł sima</p>
        <img
          class="profile-img"
          src="imgs/github-mark/80dc8f8a4ba46a071438cfef3058edbd.png"
          alt=""
        />
        <div class="about-links">
          <%-
          include('modules/ImgLink',{href:"https://github.com/emotikon90elo5",hrefImg:"/imgs/github-mark/github-mark.svg"});
          -%>
        </div>
      </div>
    </div>
  </body>
</html>
