<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="shortcut icon" type="image/png" href="/imgs/logo.png" />
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
  </head>
  <body>
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center"
      >
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="row justify-content-center w-100">
            <div class="col-md-12 col-lg-12 col-xxl-10">
              <div class="card mb-0">
                <div class="card-body">
                  <div class="card mb-0">
                    <div class="card-body">
                      <h1>404</h1>
                    </div>
                  </div>
                  <h1>błąd:</h1>
                  <h2><%=message%></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
