<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>główna</title>
    <script src="/assets/js/schoolList.js" defer></script>
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
    
  </head>
  <body>
    
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center"
      >
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="row justify-content-center w-100">
            <div class="col-md-20 col-lg-20 col-xxl-10">
              
                <div class="card">
                    <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Lista szkół</h5>
                <div class="card">
                    
                  <div class="card-body">
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>nazwa</th>
                          <th>lokalizacja</th>
                        </tr>
                      </thead>
                      <tbody id="table"></tbody>
                    </table>
                </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      href="/auth"
      class="btn btn-primary float-right position-absolute top-0 end-0 mt-3 me-3 btn-lg"
    >
      Zaloguj!
    </a>
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
  </body>
</html>
