:root {
  --blue: rgb(50, 180, 210);
  --dark-blue: rgb(20, 150, 180);
  --black: rgb(0, 10, 30);
  --hover-color: rgb(40, 50, 70);
}

.logged {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  position: static;
  background-color: var(--dark-blue);
}
.logged + .nav {
  top: 20px;
}
.nav {
  background-color: var(--blue);
  display: flex;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.68, 0, 0.265, 1.55);
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (width < 900px) {
  .nav {
    position: static;
    width: 100vw;
    height: 10vh;
  }
}

@media screen and (width > 900px) {
  .nav {
    position: absolute;
    width: 10vw;
    height: max(50px,5vh);
    border-radius: 0 0 15px 15px;
  }
  .nav > .link {
    display: none;
  }
  .nav:hover > .link {
    display: flex;
  }
  .nav:hover {
    width: 80vw;
    height: max(100px,10vh);
  }
  .nav:not(:hover)::after {
    content: "";
    position: relative;
    width: 70%;
    height: 5px;
    border-radius: 2.5px;
    background-color: var(--black);
    
  }
  .link:hover {
    color: var(--hover-color);
  }
  .link::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 5px;
    transition: 0.1s;
    background-color: var(--black);
  }
  .link:hover::after {
    width: 100%;
  }
}
.link {
  position: relative;
  text-decoration: none;
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

