.nav {
  position: fixed;
  width: 10vw;
  border-radius: 0 0 15px 15px;
  margin-left: 45vw;
  height: 5vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    55deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(18, 20, 31, 0.9419953596287703) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: 0.2s;
}
.nav:hover {
  width: 60vw;
  margin-left: 20vw;
  height: 10vh;
  font-size: 0rem;
}
.nav:not(:hover) > .link {
  display: none;
  padding: 0px;
}

.nav:not(:hover)::after {
  top: -5px;
  background-color: aliceblue;
  height: 5px;
  border-radius: 2.5px;
  width: 60%;
  content: "";
}
.link {
  padding: 5px;
  text-decoration: none;
  color: aliceblue;
  font-size: 2rem;
  font-weight: 500;
  transition-delay: 0.2s;
  transition: 0.2s;
}
.link:hover {
  color: blanchedalmond;
}
