<div class="aligment"></div>
<nav class="nav">
    <%- include('Link',{href:"/",text:"Strona główna"}); -%>
    <%- include('Link',{href:"/about",text:"O nas"}); -%>
    <%- include('Link',{href:"/locate",text:"Znajdź szkołę"}); -%>
    <%- include('ButtonLink',{href:"/auth",text:logged ? "Panel zarzdzania":"Zaloguj się!"}); -%>
</nav>