<div class="aligment"></div>
<nav class="nav">
    <%- include('Link',{href:"/about",text:"o nas"}); -%>
    <%- include('Link',{href:"gfddgf",text:"fgddf"}); -%>
    <%- include('Link',{href:"gfddgf",text:"fgddf"}); -%>
</nav>